# Exclude misc
.spyproject
__pycache__

# Exclude folder
template
projects
archive
docs/API_documentation_OpEnCellS_Sphinx
docs/archive
docs/Documentation_OpEnCellS
docs/Documentation_other technical
components/archive
components/chemical_sector/archive
components/heat_sector/archive

