# Exclude misc
.spyproject
__pycache__

# Exclude folder
projects
archive
docs/API_documentation_OpEnCellS_Sphinx
docs/Documentation_OpEnCellS
docs/Documentation_other technical
components/heat_sector
template/sample_heat_1
template/sample_heat_2
template/sample_heat_3
